@media screen and (min-width: 996px) {
  body {
    width: 960px;
    display: block;
    margin: auto;
    text-align: center;
    background-color: #ffa6c9;
  }
  
  label {
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
  
}

@media screen and (max-width: 360px) {
  label{
    display: inline-block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
  
  #submit {
    text-align: center;
  }
  
  p {
    width: 100%;
    text-align: center;
  }
  
  input[type="email"] {
    width: 60%;
  }
  
  input[type="text"] {
    width: 60%;
  }
  
  input[type="radio"] {
    width: 10%;
  }
  body {
    background-color: #ffa6c9;
  }
}

html {
  font-size: 22px;
  line-height: 26px;
  padding: 26px;
}

h1 {
  font-size: 2em;
  line-height: 1.618em;
  text-align: center;
  font-family: "Alegreya Sans", 'Open Sans', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 1.618em;
  line-height: 1.618em;
  text-align: center;
  font-family: "Be Vietnam", 'Roboto', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 1.518em;
  line-height: 1.618em;
  text-align: center;
  font-family: "Rubik", 'Roboto', sans-serif;
  text-transform: uppercase;
}

section {
  text-align: center;
  font-family: "Alegreya Sans", 'Open Sans', sans-serif;
}

ol {
  text-align: center:
}

body {
  background-color: #ffa6c9;
}

#library {
  width: 90%;
  text-align: center;
}

p {
  font-family: "Be Vietnam", 'Roboto', sans-serif;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  line-height: 2em;
  text-align: center;
}

label {
  text-align: left;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-family: "Rubik", 'Roboto', sans-serif;
}

#submit {
  font-family: "Alegreya Sans", 'Open Sans', sans-serif;
  font-size: 1.18em;
}